<app-navigation-bar/>

<div class="flex flex-col items-center">
  <div class="mb-4 w-full max-w-3xl">
    <div class="flex space-x-4">
      <select [(ngModel)]="selectedField" (change)="onFilterTypeChange()" class="p-2 border rounded-md">
        <option value="content">Content</option>
        <option value="author">Author</option>
        <option value="creationDate">Date</option>
      </select>

      @if(selectedField === 'creationDate'){
        <input
          [(ngModel)]="filterValue"
          (change)="filter(selectedField, filterValue)"
          type="date"
          class="p-2 border rounded-md"
        />
      }
      @else{
        <input
          [(ngModel)]="filterValue"
          (input)="filter(selectedField, filterValue)"
          placeholder="Enter filter value"
          class="p-2 border rounded-md flex-grow"
        />
      }
    </div>
  </div>

  @for (post of filteredPosts; track post.id;){
    <div class="w-full max-w-3xl p-6 bg-white rounded-md shadow-md mb-4">
      <h3 class="text-xl font-bold mb-2">{{ post.title }}</h3>
      <p class="mb-2">{{ post.content }}</p>
      <p class="text-sm text-gray-600"><strong>Author:</strong> {{ post.author }}</p>
      <p class="text-sm text-gray-600"><strong>Creation Date:</strong> {{ post.date | date:'medium' }}</p>
      <button (click)="navigateToPostDetail(post.id)" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-md">View Details</button>
    </div>
  }
</div>
