<app-navigation-bar/>

<!-- src/app/published-posts/published-posts.component.html -->
<!--<div class="filter p-4 bg-gray-100 rounded-md shadow-md mb-4">-->
<!--  <input type="text" placeholder="Filter by title" (input)="filter('title', $event.target.value)" class="p-2 border border-gray-300 rounded-md mb-2 w-full">-->
<!--  <input type="text" placeholder="Filter by author" (input)="filter('author', $event.target.value)" class="p-2 border border-gray-300 rounded-md mb-2 w-full">-->
<!--  <input type="date" placeholder="Filter by creation date" (input)="filter('creationDate', $event.target.value)" class="p-2 border border-gray-300 rounded-md w-full">-->
<!--</div>-->

<div class="flex flex-col items-center">
  @for (post of filteredPosts; track post.id;){
    <div class="w-full max-w-3xl p-6 bg-white rounded-md shadow-md mb-4">
      <h3 class="text-xl font-bold mb-2">{{ post.title }}</h3>
      <p class="mb-2">{{ post.content }}</p>
      <p class="text-sm text-gray-600"><strong>Author:</strong> {{ post.author }}</p>
      <p class="text-sm text-gray-600"><strong>Creation Date:</strong> {{ post.date | date:'medium' }}</p>
      <button (click)="navigateToPostDetail(post.id)" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-md">View Details</button>
    </div>
  }
</div>
