<app-navigation-bar/>

<div class="flex flex-col items-center">
  @for (post of posts; track post.id;){
    <div class="w-full max-w-3xl p-6 bg-white rounded-md shadow-md mb-4">
      <h3 class="text-xl font-bold mb-2">{{ post.title }}</h3>
      <p class="mb-2">{{ post.content }}</p>
      <p class="text-sm text-gray-600"><strong>Author:</strong> {{ post.author }}</p>
      <p class="text-sm text-gray-600"><strong>Creation Date:</strong> {{ post.date | date:'medium' }}</p>
      <p class="text-sm text-gray-600"><strong>Review Status:</strong> {{ post.reviewStatus }}</p>
      @if (post.reviewStatus === 'REJECTED'){
        <p class="text-sm text-gray-600"><strong>Review Comment:</strong> {{ post.reviewComment }}</p>
      }
      <p class="text-sm text-gray-600"><strong>Concept:</strong> {{ post.isConcept ? 'true' : 'false' }}</p>

      <div class="mt-2">
        @if (role === 'redacteur'){
        <button (click)="navigateToEditPost(post.id)" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Edit</button>
        }
        @if (role === 'reviewer' && !post.isConcept){
          <button (click)="navigateToReviewPost(post.id)" class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 ml-2">Review</button>
        }
      </div>

    </div>
  }
</div>
