<app-navigation-bar/>

<div class="flex flex-col items-center">
  <div class="w-full max-w-3xl p-6 bg-white rounded-md shadow-md mb-4">
    <h3 class="text-xl font-bold mb-2">{{ post?.title }}</h3>
    <p class="mb-2">{{ post?.content }}</p>
    <p class="text-sm text-gray-600"><strong>Author:</strong> {{ post?.author }}</p>
    <p class="text-sm text-gray-600"><strong>Creation Date:</strong> {{ post?.creationDate }}</p>
    <p class="text-sm text-gray-600"><strong>Review Status:</strong> {{ post?.reviewStatus }}</p>
    @if (post?.reviewStatus === 'REJECTED'){
      <p class="text-sm text-gray-600"><strong>Review Comment:</strong> {{ post?.reviewComment }}</p>
    }
    <p class="text-sm text-gray-600"><strong>Concept:</strong> {{ post?.isConcept ? 'true' : 'false' }}</p>
  </div>

  <div class="w-full max-w-3xl p-6 bg-white rounded-md shadow-md mb-4">
    <h4 class="text-lg font-bold mb-2">Comments</h4>
    @for (comment of comments; track comment.id){
      <div class="mb-4 p-4 border border-gray-300 rounded-md shadow-sm">
        <p class="text-sm text-gray-700"><strong>{{ comment.author }}:</strong></p>
        <p>{{ comment.comment }}</p>
        <button (click)="deleteComment(comment.id)" class="mt-2 px-4 py-2 bg-red-500 text-white rounded-md">Delete</button>
        <button (click)="editComment(comment.id)" class="mt-2 ml-5 px-4 py-2 bg-green-500 text-white rounded-md">Edit</button>
      </div>
    }
  </div>
  <button (click)="navigateToAddComment()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Add comment</button>
</div>
